      <ion-tabs class="tabs-striped tabs-color-active-assertive tabs-color-assertive">

        <ion-tab title="进度" href="#/tab/process">
            <ion-nav-view name="process-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Home"  href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About"  href="#/tab/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contact"  ui-sref="tabs.contact">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
